body {
    font-family: 'Arial', sans-serif;
    background: #f0f4f8; /* Lighter, clean background */
    margin: 0;
    padding: 150px;
}

.resume {
    display: flex;
    background: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.left {
    background: #1d3557; /* Deep blue for a professional yet calming look */
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid #f1faee; /* Soft off-white to add contrast */
}

.profile {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #f1faee; /* Matches the border-right for unity */
    margin-bottom: 20px;
}

.h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
    color: #f1faee; /* Off-white for a soft contrast with the blue background */
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: #333; /* Dark gray for better legibility */
    background: #a8dadc; /* Light teal for a refreshing pop */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(168, 218, 220, 0.5);
    margin-top: 5%;
    margin-bottom: 5%;
}

ul li {
    margin: 5px 0;
    color: #555; /* Slightly lighter text color for list items */
}

.right {
    padding: 20px;
    width: 65%;
}

button {
    font-family: Arial, sans-serif;
    background-color: #62d0df; /* Strong red for an attention-grabbing button */
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    padding: 10px 20px;
}

button:hover {
    background-color: blue; /* Slightly darker red for hover effect */
}
